<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Theraot.Core" publicKeyToken="b1460dff8a28f7a7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.2.11.0" newVersion="3.2.11.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Universe.CpuUsage" publicKeyToken="17687aae3e4abb16" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.778.893" newVersion="2.2.778.893" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>