@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.container-for-tabs-demo {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 16px 30px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TabLink {
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
  background: transparent;
  outline: transparent;
  border: transparent;
  color: #101927;
  transition: 300ms all ease-in-out;
}
@media (prefers-color-scheme: dark) {
  .TabLink {
    color: #a58787;
  }
}
@media only screen and (max-width: 576px) {
  .TabLink {
    padding: 10px 8px;
  }
}
.TabLink.active {
  color: #2955ac;
  position: relative;
}
@media (prefers-color-scheme: dark) {
  .TabLink.active {
    color: #A9B5ac;
  }
}
.TabLink.active::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2955ac;
  position: absolute;
  bottom: -2px;
  left: 0;
}
.TabLink:hover {
  color: #2955ac;
  position: relative;
}
@media (prefers-color-scheme: dark) {
  .TabLink:hover {
    color: #A9B5ac;
  }
}
.TabLink:hover::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #29557c;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.tabs {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 32px 32px 10px 32px;
  /* links */
}
@media (prefers-color-scheme: dark) {
  .tabs {
    background-color: #272727;
  }
}
.tabs__pills {
  width: fit-content;
  border-bottom: 2px solid rgba(16, 25, 39, 0.2);
}
@media (prefers-color-scheme: dark) {
  .tabs__pills {
    border-bottom: 2px solid rgba(165, 135, 135, 0.2);
  }
}
.tabs__panels {
  padding: 20px 0;
  color: #101927;
}
@media (prefers-color-scheme: dark) {
  .tabs__panels {
    color: #a58787;
  }
}
.tabs__panels > div {
  width: 100%;
  display: none;
  gap: 20px;
}
.tabs__panels > div.active {
  display: flex;
}
@media only screen and (max-width: 978px) {
  .tabs__panels > div.active {
    flex-direction: column;
  }
}

:root {
  color-scheme: light dark;
}
