body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table.Metrics thead {
    position: sticky;
    top: 0;
}

table.Metrics thead th {
    padding: 4px 4px 4px 16px;
    background-color: white;
}

table.Metrics th.TableHeaderGroupCell {
    padding: 8px 4px;
}


table.Metrics thead th button {
    cursor: pointer;
    border: none;
    border-radius: 0;
    padding: 4px 8px;
    margin: 0;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
}

table.Metrics thead th button:after {
    content: " ↡";
    visibility: hidden
}


table.Metrics thead button:hover {
    color: #B9375E;
}

table.Metrics thead th button:hover:after {
    content: " ↡" !important;
    visibility: visible
}

table.Metrics thead th.Selected button:after {
    content: " ↡" !important;
    visibility: visible
}

.Hidden { display: none; }


.SortedArrow {
    display: inline-block;
    padding-left: 6px;
}
table.Metrics {
    /*border-collapse: collapse; it does not stick borders */
    border-spacing: 0px;
}
table.Metrics thead th {
    border: 1px solid #999;
    font-size: 16px;
}

table.Metrics td, table.Metrics th {
    padding: 4px;
}

table.Metrics tbody td {
    text-align: right;
}

tr.MetricsRow td, .TableHeaderCell {
    white-space: nowrap;
}
.TableHeaderCell {
    /*border: 1px solid #999;*/
}
tr.SqlRow td {
    text-align: left !important;
    padding: 4px 64px;
    border-bottom: 1px solid #999;
}

/* Wrap long SQL rows */
tr.SqlRow td pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
