:root {
    color-scheme: light dark;
    
    --dark-back: #0C1011;
    --dark-fore: #DFDFDD;
    --dark-header-border: #555;
    --dark-metrics: #EFEFED;

    --light-back: #fafafa;
    --light-fore: #484b6a;
    --light-header-border: #AAA;
    --light-metrics: #181b3a;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
body, table.Metrics thead th, table.Metrics thead th button {
    /*color: gray;*/
    color: light-dark(var(--light-fore), var(--dark-fore));
    background-color: light-dark(var(--light-back), var(--dark-back));
}


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ReportTitle {
    font-size: 28px;
    margin: 24px auto 4px auto;
    text-align: center;
}
.ReportSubTitle {
    font-size: 14px;
    margin: 4px auto 4px auto;
    text-align: center;
}
.ReportSubTitle:last-child {
    margin-bottom: 28px;
}
.ReportSubTitle:nth-child(2) {
    margin-bottom: 20px;
}

table.Metrics thead {
    position: sticky;
    top: 0;
}

table.Metrics thead th {
    padding: 4px 4px 4px 16px;
    background-color: light-dark(var(--light-back), var(--dark-back));
    /*background-color: white;*/
}

table.Metrics th.TableHeaderGroupCell {
    padding: 8px 4px;
    border-bottom: none;
}
table.Metrics th.TableHeaderGroupCell:not(:last-child), table.Metrics th.TableHeaderCell:not(:last-child) {
    border-right: none;
}


table.Metrics thead th button {
    cursor: pointer;
    border: none;
    border-radius: 0;
    padding: 4px 8px;
    margin: 0;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
}

table.Metrics thead th button:after {
    content: " 🡓";
    visibility: hidden
}


table.Metrics thead button:hover {
    color: light-dark(#B9375E, #FF8F95);
}

@keyframes hover-arrow {
    0% {
        transform: translate(0, 0) scale(1,1);
        color: light-dark(var(--light-fore), var(--dark-fore));
        transform-origin: 50% 50%;
        opacity: 1;
    }
    50% {
        /* bigger shift removes hover state, 
            translate(0, -2px) scale(1.2,1.2) is ok */
        transform: translate(0, 0px) scale(1,1);
        /*color: light-dark(#B9375E, #FF8F95);*/
        color: light-dark(#000, #FFF);
        transform-origin: 50% 50%;
        opacity: 1.0;
    }
    100% {
        transform: translate(0px, 0px) scale(1,1);
        color: light-dark(#B9375E, #FF8F95);
        transform-origin: 50% 50%;
        opacity: 1;
    }
}

table.Metrics thead th button:hover:after {
    content: " 🡓" !important;
    visibility: visible;
}
table.Metrics thead th button:hover {
    animation: hover-arrow 0.12s;
}

table.Metrics thead th.Selected button:after {
    content: " 🡓" !important;
    visibility: visible
}

.Hidden { display: none; }


.SortedArrow {
    display: inline-block;
    padding-left: 6px;
}
table.Metrics {
    /*border-collapse: collapse; it does not stick borders */
    border-spacing: 0px;
}
table.Metrics thead th {
    /*border: 1px solid #888;*/
    border-width: 1px;
    border-style: solid;
    border-color: light-dark(var(--light-header-border), var(--dark-header-border));
    font-size: 16px;
}

table.Metrics td, table.Metrics th {
    padding: 4px;
}

table.Metrics tbody td {
    text-align: center;
    color: light-dark(var(--light-metrics), var(--dark-metrics));
}

tr.MetricsRow td, .TableHeaderCell {
    white-space: nowrap;
}
.TableHeaderCell {
    /* ok 5px */
    padding-bottom: 8px !important;
}
.TableHeaderCell.Selected {
    border-bottom: 3px solid yellow;
    border-bottom-color: light-dark(var(--light-metrics), var(--dark-metrics));
    transition: 0.5s;
    /* ok 2px */
    padding-bottom: 6px !important;
}

tr.SqlRow td {
    text-align: left !important;
    padding: 8px 4px 16px 4px;
    border-bottom: 1px solid #888;
    border-bottom-color: light-dark(var(--light-header-border), var(--dark-header-border));
}
tr.MetricsRow:not(:first-child) td {
    padding-top: 12px;
}
tr.MetricsRow td {
    padding-top: 8px;
    padding-left: 6px; 
    padding-right: 6px;
}

/* Wrap long SQL rows */
tr.SqlRow td pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    font-size: 15px;
}
tr.SqlRow td pre span {
    font-size: 15px;
}

.NotImportant {
    color: light-dark(#666, #AAA);
}
.Fractional, .SecondsFractional, .SecondsSign {
    color: light-dark(#555, #BBB);
    font-size: 13px;
}
.SecondsSign {
    font-size: 12px;
}
.Thousand, .Hours {
    color: light-dark(#700029, #FFB993);
}


.SqlPadding {
    vertical-align: top
}