:root {
    color-scheme: light dark;
    --blackColor: #0C1011;
    --whiteColor: #EFEFED;
    --dark-back: #0C1011;
    --dark-fore: #EFEFED;
    --light-back: #fafafa;
    --dark-fore: #484b6a;
    
    --light-header-border: #AAA;
    --dark-header-border: #555;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
body, table.Metrics thead th {
    color: light-dark(var(--light-fore), var(--dark-fore));
    background-color: light-dark(var(--light-back), var(--dark-back));
}


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table.Metrics thead {
    position: sticky;
    top: 0;
}

table.Metrics thead th {
    padding: 4px 4px 4px 16px;
    background-color: light-dark(var(--light-back), var(--dark-back));
    /*background-color: white;*/
}

table.Metrics th.TableHeaderGroupCell {
    padding: 8px 4px;
}


table.Metrics thead th button {
    cursor: pointer;
    border: none;
    border-radius: 0;
    padding: 4px 8px;
    margin: 0;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
}

table.Metrics thead th button:after {
    content: " ↡";
    visibility: hidden
}


table.Metrics thead button:hover {
    color: light-dark(#B9375E, #FF8F95);
}

table.Metrics thead th button:hover:after {
    content: " ↡" !important;
    visibility: visible
}

table.Metrics thead th.Selected button:after {
    content: " ↡" !important;
    visibility: visible
}

.Hidden { display: none; }


.SortedArrow {
    display: inline-block;
    padding-left: 6px;
}
table.Metrics {
    /*border-collapse: collapse; it does not stick borders */
    border-spacing: 0px;
}
table.Metrics thead th {
    /*border: 1px solid #888;*/
    border-width: 1px;
    border-style: solid;
    border-color: light-dark(var(--light-header-border), var(--dark-header-border));
    font-size: 16px;
}

table.Metrics td, table.Metrics th {
    padding: 4px;
}

table.Metrics tbody td {
    text-align: right;
}

tr.MetricsRow td, .TableHeaderCell {
    white-space: nowrap;
}
.TableHeaderCell {
    /*border: 1px solid #999;*/
}
tr.SqlRow td {
    text-align: left !important;
    padding: 8px 4px 16px 4px;
    border-bottom: 1px solid #888;
    border-bottom-color: light-dark(var(--light-header-border), var(--dark-header-border));
}
tr.MetricsRow td:not(:first-child) {
    padding-top: 12px;
}
tr.MetricsRow td {
    padding-top: 8px;
}

/* Wrap long SQL rows */
tr.SqlRow td pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.SqlFragmentText {
    color: light-dark(black, #F0F0F0);
}
.SqlFragmentComment {
    color: light-dark(green, #A5FF7F);
}
.SqlFragmentString {
    color: light-dark(red, #FFA0A0);
}
.SqlFragmentKeyword {
    color: light-dark(blue, #93B0FF);
}
.SqlFragmentDataType {
    color: light-dark(fuchsia, #FF7AFF);
}
