@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.container-for-tabs-demo {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 16px 30px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TabLink {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 24px 10px 24px;
  background: transparent;
  outline: transparent;
  border: transparent;
  color: #484b6a;
  transition: 100ms all ease-in-out;
}
@media (prefers-color-scheme: dark) {
  .TabLink {
    color: #DFDFDD;
  }
}
@media only screen and (max-width: 576px) {
  .TabLink {
    padding: 10px 8px;
  }
}
.TabLink.active {
  color: #26A0DA;
  position: relative;
}
@media (prefers-color-scheme: dark) {
  .TabLink.active {
    color: #99C8FF;
  }
}
.TabLink.active::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2955ac;
  position: absolute;
  bottom: -2px;
  left: 0;
}
.TabLink:hover:not(.active) {
  color: #26A0DA;
  position: relative;
}
@media (prefers-color-scheme: dark) {
  .TabLink:hover:not(.active) {
    color: #99C8FF;
  }
}
.TabLink:hover:not(.active)::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #484b6a;
  position: absolute;
  bottom: -2px;
  left: 0;
}
@media (prefers-color-scheme: dark) {
  .TabLink:hover:not(.active)::after {
    background-color: #dfdfdd;
  }
}

.tabs {
  background-color: #fafafa;
  border-radius: 8px;
  padding: 10px 0 0 0;
  /* links */
}
@media (prefers-color-scheme: dark) {
  .tabs {
    background-color: #0C1011;
  }
}
.tabs__pills {
  width: fit-content;
  border-bottom: 2px solid rgba(72, 75, 106, 0.2);
  margin: 0 auto;
}
@media (prefers-color-scheme: dark) {
  .tabs__pills {
    border-bottom: 2px solid rgba(223, 223, 221, 0.2);
  }
}
.tabs__panels {
  padding: 28px 0 16px 0;
  color: #484b6a;
}
@media (prefers-color-scheme: dark) {
  .tabs__panels {
    color: #DFDFDD;
  }
}
.tabs__panels > div {
  width: 100%;
  display: none;
  /*
  display: flex;
  visibility: hidden;
  */
  gap: 20px;
}
.tabs__panels > div.active {
  display: block;
  /* visibility: visible; */
}
@media only screen and (max-width: 978px) {
  .tabs__panels > div.active {
    flex-direction: column;
  }
}

:root {
  color-scheme: light dark;
}
