// https: //dev.to/bek-dev/vanilla-javascript-tabs-21i8
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@mixin color-scheme($value: light) {
    @media (prefers-color-scheme: $value) {
        @content;
    }
}

// COLORS
$text: #484b6a;
$text-dark: #DFDFDD;
$white: #fafafa;
$white-dark: #0C1011;
$blue: #26A0DA;
$blue-dark: #99C8FF;

$border-line-inactive: 2px;
$border-line-active: 4px;

// STYLING
.container-for-tabs-demo {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 16px 30px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TabLink {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 24px 10px 24px;
    background: transparent;
    outline: transparent;
    border: transparent;
    color: $text;

    @include color-scheme(dark) {
        color: $text-dark;
    }

    transition: 100ms all ease-in-out;

    @media only screen and (max-width: 576px) {
        padding: 10px 8px;
    }

    &.active {
        color: $blue;

        @include color-scheme(dark) {
            color: $blue-dark;
        }

        position: relative;

        &::after {
            content: '';
            width: 100%;
            height: $border-line-active;
            background-color: #2955ac;
            position: absolute;
            bottom: -2px;
            left: 0;
        }
    }

    &:hover:not(.active) {
        color: $blue;

        @include color-scheme(dark) {
            color: $blue-dark;
        }

        position: relative;

        &::after {
            content: '';
            width: 100%;
            height: $border-line-active;
            background-color: rgba($color: $text, $alpha: 1.0);

            @include color-scheme(dark) {
                background-color: rgba($color: $text-dark, $alpha: 1.0);
            }

            position: absolute;
            bottom: -2px;
            left: 0;
        }
    }
}

.tabs {
    background-color: $white;

    @include color-scheme(dark) {
        background-color: $white-dark;
    }

    border-radius: 8px;
    padding: 10px 0 0 0;
    /* links */
    &__pills {
        width: fit-content;
        border-bottom: $border-line-inactive solid rgba($color: $text, $alpha: 0.2);
        margin: 0 auto;

        @include color-scheme(dark) {
            border-bottom: $border-line-inactive solid rgba($color: $text-dark, $alpha: 0.2);
        }
    }

    &__panels {
        padding: 28px 0 16px 0;
        color: $text;

        @include color-scheme(dark) {
            color: $text-dark;
        }

        > div {
            width: 100%;
            display: none;
            /*
            display: flex;
            visibility: hidden;
            */
            gap: 20px;
        }

        > div.active {
            display: block;
            /* visibility: visible; */

            @media only screen and (max-width: 978px) {
                flex-direction: column;
            }
        }
    }
}

:root {
    color-scheme: light dark;
}
