#DbListContainer {
    flex-direction: column;
    width: 540px;
    padding: 0px 20px;
}

.DbListItem {
    display: flex;
    flex-wrap: nowrap;
}

.DbListColumn {
    border-top: solid 1px grey;
    border-top-color: light-dark(#DDD,#333);
    display222: flex;
    margin: 1px 0;
    padding: 6px 6px;
}
.DbListColumnCheckbox {
  _width: 150px;
  _max-width: 150px;
  _min-width: 150px;
  flex-grow: 0;
  flex-shrink: 1; 
  align-self: flex-start;
  text-align: center;
}
.DbListColumnTitle {
  flex-grow: 1;
  __flex-shrink: 0;  
}
.DbListItem:first-child .DbListColumn {
  border-top: none !important;
}

/*
    Below is a copy from the Styles.css
*/
:root {
    color-scheme: light dark;
    --dark-back: #0C1011;
    --dark-fore: #DFDFDD;
    --light-back: #fafafa;
    --light-fore: #484b6a;
}
body {
    color: light-dark(var(--light-fore), var(--dark-fore));
    background-color: light-dark(var(--light-back), var(--dark-back));
}

